//********************************************************** FONT *******************************************************//
$font-family-primary: Helvetica, sans-serif;

//********************************************************** COLORS *******************************************************//
$primary-color:#ffff;
$secondary-color:black;
$list-colores: #ffff, black, red;

//********************************************************** MARGIN *******************************************************//
$margin-LL:100px;
$margin-XX:20px;
$margin-v:5px;

//********************************************************** PADDING *******************************************************//
$padding-L: 50px;
$padding-xv: 15px;

//********************************************************** SIZE *******************************************************//
$large-size: x-large;

//********************************************************** HEIGHT *******************************************************//
$header-height: 150px;